<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ template.name }}</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <h1>{{ template.name }}</h1>
    <ul>
        {% macro render_node(node) %}

        {% if node.__class__.__name__ == "ReferenceAttribute" %}
        {% set ref = node() %}
        <span>{{node.name}}:
            {% if ref is not none %}
            <a href="../assets/{{ ref.safe_identifier }}.html">{{ ref.name if ref.name else ref }}</a>
            {% else %}
            None
            {% endif %}
        </span>
        {% elif node.is_compound %}
        {{ node.name if node.name else node }}
        <ul>
            {% for child in node %}
            {% set inherited = (child.parent != node) %}
            {% set is_default = (child.meta.default == child) %}
            <li{% if inherited or is_default %}
                class="{% if inherited %}inherited{% endif %}{% if inherited and is_default %} {% endif %}{% if is_default %}default{% endif %}"
                {% endif %}>
                {{ render_node(child) }}
                </li>
                {% endfor %}
        </ul>
        {% else %}
        {{ node }}
        {% endif %}

        {% endmacro %}

        {{ render_node(template) }}
    </ul>

    {% for key, ref_dict in template.named_reference_collections.items() %}
    {% if ref_dict %}
    <h1>{{ key }}</h1>
    <table>
        <tr>
            <th>GUID</th>
            <th>Asset</th>
        </tr>
        {% set sorted_refs = ref_dict.items() | sort(attribute='1.source.guid') %}
        {% for guid, ref in sorted_refs %}
        <tr>

            <td>{{ref.source.guid}}</td>
            <td>
                <a href="../assets/{{ ref.source.guid }}.html">
                    {{ ref.source.short_description }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endfor %}

    <h1>XML</h1>
    <p>{{xml}}</p>
</body>

</html>